
.calculatorCard {
  box-sizing: border-box;
  background-color:var(--primary-color);

  & div:first-child {
    padding: 0px !important;
  }

  &:hover {
    background-color: var(--secondary-color);
  }
}

.calculatorCardHeader {
  font-size: 16px;
  color: white;
  margin: 0px;
  padding: 16px;
}

.calculatorCardText {
  margin: 0px;
  padding: 0px 16px;
  color: white;
}

.calculatorButton {
  background-color: white !important;
  color: #023932 !important;
  border: 1px solid #E0E0E0;
  &:hover {
    border: 1px solid var(--primary-color) !important;
  }

  &--highlighted {
    border: 1px solid var(--secondary-color) !important;
  }
}

.calculatorButtonSection {
  max-height: 500px;
  overflow-y: auto;
}
