.three-col-container {
	display: flex;
	justify-content: center;
	background-color: rgba(var(--primary-color-rgb), 0.1);

}
.three-col-item {
	position: relative;

}



@media screen and (min-width: 768px) {
    .three-col-item{
		
		&:not(:last-child)::after  {
		content: '';
		position: absolute;
		right: 0;
		top: 10%;
		bottom: 10%;
		width: 1px;
		height: 40%;
        background-color: #00000025;
		}

		&:not(:first-child):not(:last-child) {
			padding: 0 2rem;
		}
		&:first-child {
			padding-right:2rem;
		}
		&:last-child {
			padding-left:2rem;
		}
    }
    
}