@import "@/styles/variables.scss";

.calculatorCard {
  box-sizing: border-box;
  background-color: $ps-green-light;

  & div:first-child {
    padding: 0px !important;
  }

  &:hover {
    background-color: $ps-green-dark;
  }
}

.calculatorCardHeader {
  font-size: 16px;
  color: white;
  margin: 0px;
  padding: 16px;
}

.calculatorCardText {
  margin: 0px;
  padding: 0px 16px;
  color: white;
}

.calculatorButton {
  &:enabled:focus {
    background-color: $ps-green-light !important;
  }
}
