.quiz-card {
  border-style: solid;
  border-color: var(--light-green);

  &:hover,
  &--selected {
    border-color: var(--dark-brown);
    color: var(--dark-brown);
  }
}

.heading {
  max-width: 40%;

  @media screen and (max-width: 768px) {
    max-width: initial;
    padding-left: 80px;
  }
}

.calculator-name {
  max-width: 33%;

  @media screen and (max-width: 768px) {
    max-width: initial;
    padding-left: 80px;
  }
}
