.container {
	padding: 4rem 7rem 0  5rem; 
}


.radial-gradient {
	position: absolute;
	top: 0;
	width: 800px;
	height: 800px;
	background: radial-gradient(circle, #a6c7b425 0%, rgba(131, 184, 153, 0) 75%);
	left: 0;
	// transform: translateX(-50%);
	// transform: translateY(-50%);
}

.title {
	position: relative;
	margin-bottom: 2rem;
	// &::after  {
	// 	content: '';
	// 	position: absolute;
	// 	right: 50%;
	// 	// top: 10%;
	// 	bottom: -25%;
	// 	height: 5px;
	// 	width: 10%;
    //     background-color: rgba(var(--primary-color-rgb), 1);
	// 	transform: translateX(50%);


	// 	}

}


.form-container {
	border: 1px solid var(--gray-300);
	border-radius: 15px;
	// justify-content: end;
	align-items: center;
	position: relative;
	// margin: 10rem 10rem 10rem 10rem ;
	background-color: white;
	width: 100%;
	height: 100%;
	overflow: hidden;
	@media screen and (min-width: 768px) {
		// padding: 5rem  12rem 1rem 12rem ;
	}
}



  .formComponent {
	position: absolute;
	width: 100%;
	height: 100%;
	transition: transform 0.5s ease-in-out;
  }
  
  .slideLeft {
	transform: translateX(-100%);
  }
  
  .slideRight {
	transform: translateX(100%);
  }
  
  .current {
	transform: translateX(0);
  }