.teethSelector {
  text {
    transform: scale(1);
  }

  .containerFlex path {
    transform: scale(1);
  }

  .columnFlex {
    width: 300px;
    height: 200px;

    &.bottomTeeth svg g {
      transform: translate(0, -185px);
    }

    svg g {
      cursor: pointer;
    }
  }

  &.smTeethSelector {
    text {
      transform: scale(0.6);
    }

    .containerFlex path {
      transform: scale(0.6);
    }

    .columnFlex {
      width: 180px;
      height: 120px;

      &.bottomTeeth svg g {
        transform: translate(0, -105px);
      }
    }
  }
}
