.hero-container {
  padding: 5rem 0;
  box-sizing: border-box;
  height: 760px;
  display: flex;
  justify-content: center;
  z-index: 1;

  @media screen and (max-width: 768px) {
    height: initial;
  }

  &:not(.light) {
    background: radial-gradient(circle, #31574d, #023932 300px);
  }

  &.light {
    background-color: var(--beige);
  }
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  line-height: 1.25;
}

.hero-image-container {
  display: flex;
  justify-content: flex-end;
}
