.hero-container {
  padding: 5rem 0;
  box-sizing: border-box;
  height: 660px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  background: radial-gradient(circle, #31574d, #023932 300px);
  z-index: 1;

  @media screen and (max-width: 768px) {
    height: initial;
  }
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  line-height: 1.25;
}

.hero-image-container {
  display: flex;
  justify-content: flex-end;
}
