.striped-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px; 

  th, td {
    padding: 8px;
    text-align: center;
    font-size: 12px;
    border-right: 1px solid var(--surface-800);
    border-bottom: 1px solid var(--surface-800);
    &:first-child {
      border-left: 1px solid var(--surface-800);
    }
  }

  th {
    background-color: var(--secondary-color);
    color: var(--surface-0);
    word-wrap: normal;
  }
  tr {
    &.even {
      background-color: var(--gray-50);
    }

    &.odd {
      background-color: #c3dfd0;
    }
  }
}
