.section-container {
  margin: 3rem 0;
}

.card-1 {
  margin-right: -20px;
  margin-top: -2px;
}

.card-2 {
  margin-left: -14px;
  margin-top: -2px;
}

.card-3 {
  margin-right: 15px;
  margin-top: 10px;
}

.card-4 {
  margin-left: 20px;
  margin-top: 8px;
}

@media screen and (min-width: 768px) {
  .section-container {
    margin: 8rem 0;
  }
}
