.calculator-explore-tab-view {
  .p-tabview-nav {
    justify-content: center;
    background: var(--dark-green);

    li .p-tabview-nav-link {
      display: flex;
      justify-content: center;
      background: var(--dark-green);
      color: var(--beige);
      border-width: 0;
      border-radius: 10px 10px 0 0;
      width: 220px;
    }

    li .p-tabview-nav-link:focus {
      background: var(--beige);
    }

    li .p-tabview-nav-link:hover {
      color: var(--dark-brown);
    }

    li.p-tabview-selected > .p-tabview-nav-link {
      background: var(--beige);
      color: var(--dark-green);
    }

    .p-tabview-ink-bar {
      display: none;
    }
  }
}

.calculator-carousel {
  .swiper-pagination-bullet {
    width: 20px !important;
    height: 20px !important;
    border-radius: 100% !important;
    background-color: var(--beige) !important;
    opacity: 1 !important;
    margin: 0 16px !important;
  }

  .swiper-pagination-bullet-active {
    background-color: var(--dark-green) !important;
  }

  .swiper-button-next,
  .swiper-button-prev {
    border: 2px solid var(--dark-green);
    width: 48px !important;
    height: 48px !important;
    border-radius: 100%;

    &::after {
      font-size: 24px !important;
      color: var(--dark-green) !important;
    }
  }
}
