/* MundialBlack */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialBlack.otf') format('opentype');
    font-weight: 900; /* Custom weight for black */
    font-style: normal;
}

/* MundialBlackItalic */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialBlackItalic.otf') format('opentype');
    font-weight: 900; /* Custom weight for black */
    font-style: italic;
}

/* MundialBold */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

/* MundialBoldItalic */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

/* MundialDemibold */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialDemibold.otf') format('opentype');
    font-weight: 600; /* Custom weight for demibold */
    font-style: normal;
}

/* MundialDemiboldItalic */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialDemiboldItalic.otf') format('opentype');
    font-weight: 600; /* Custom weight for demibold */
    font-style: italic;
}

/* MundialHair */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialHair.otf') format('opentype');
    font-weight: 100; /* Custom weight for hair */
    font-style: normal;
}

/* MundialHairItalic */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialHairItalic.otf') format('opentype');
    font-weight: 100; /* Custom weight for hair */
    font-style: italic;
}

/* MundialItalic */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}

/* MundialLight */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialLight.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: normal;
}

/* MundialLightItalic */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialLightItalic.otf') format('opentype');
    font-weight: 300; /* Light */
    font-style: italic;
}

/* MundialRegular */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

/* MundialThin */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialThin.otf') format('opentype');
    font-weight: 200; /* Thin */
    font-style: normal;
}

/* MundialThinItalic */
@font-face {
    font-family: 'Mundial';
    src: url('/fonts/mundial/MundialThinItalic.otf') format('opentype');
    font-weight: 200; /* Thin */
    font-style: italic;
}
