
.navbarNav {
	align-items: center;
	list-style: none;
	font-size: 18px;
	font-weight: bold;
    background-color: var(--secondary-color);
	a {
		// font-variant: small-caps;
		text-decoration: unset;
        color: white;
		p {
			padding: 0 20px;
		}
	}
	a:hover {
		p {
			color: var(--primary-color);;
		}
	}

    & button {
        color: white !important;
    }
}
