.calculatorContainer {
  // ma-height: calc(100vh - 12rem);
  min-height: 100%;
}


.calculatorList {
  border: solid 1px #E0E0E0;
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  &:hover,  + .selected{
    border-color:var(--primary-color);
    cursor: pointer;
    border-width: 2px;
  }
  

}
