.col-container {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

.col-item {
  position: relative;

  &:not(:last-child)::after {
    content: "";
    position: absolute;
    right: 50%;
    bottom: 0%;
    height: 1px;
    width: 40%;
    background-color: var(--light-brown);
    transform: translateX(50%);
  }

  &.dark:not(:last-child)::after {
    background-color: rgba(var(--primary-color-rgb), 1);
  }
}

@media screen and (min-width: 768px) {
  .col-item {
    &:not(:last-child)::after {
      content: "";
      position: absolute;
      right: 0;
      top: 10%;
      bottom: 10%;
      width: 1px;
      height: 40%;
      background-color: var(--light-brown);
    }

    &.dark:not(:last-child)::after {
      background-color: rgba(var(--primary-color-rgb), 1);
    }
  }
}
