.logo {
	font-weight: bold;
	text-decoration: unset;
	color: white;

	font-size: 25px;
	letter-spacing: 5px;
	&:hover {
		color: var(--primary-color);
	}
}

.sidebar-container {
	z-index: 3;
	top: 50px;
	width: 100%;
	border-bottom: black 1px solid;
}
.sidebar-nav,
.hamburger-menu {
	margin: 2rem 0;
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	height: 2.5rem;
	width: 2.5rem;
	cursor: pointer;
}
.bar-top,
.bar-middle,
.bar-bottom {
	height: 5px;
	background: rgb(0, 0, 0);
	border-radius: 5px;
	margin: 3px 0;
	transform-origin: left;
	transition: all 0.5s;
}
.hamburger-menu.active .bar-top {
	transform: rotate(45deg);
}
.hamburger-menu.active .bar-middle {
	transform: translateX(1rem);
	opacity: 0;
}
.hamburger-menu.active .bar-bottom {
	transform: rotate(-45deg);
}

