.striped-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 10px;

  th,
  td {
    padding: 8px;
    text-align: center;
    font-size: 12px;
    border: 1px solid var(--light-green);
    border-collapse: collapse;
  }

  th {
    background-color: var(--dark-green);
    color: var(--beige);
    word-wrap: normal;
  }

  tbody {
    tr:nth-of-type(2n + 1) {
      background-color: var(--gray-50);
    }

    tr:nth-of-type(2n) {
      background-color: var(--beige);
    }
  }
}
