
.container {
  padding: 3.5rem 0;
  min-height: 50rem;

}



.selectionItem {
  border: solid 1px #E0E0E0;
  margin:  0.5rem 0 0.5rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  &:hover {
    border-color:var(--primary-color) !important;
    cursor: pointer;
    border-width: 2px;
  }
}
