.container {
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
}


.workflowsContainer {
  height: 50rem;
  display: flex;
  justify-content: center;
}


.workflowsSelection {
  border: solid 1px #E0E0E0;
  margin: 1rem 0;
  padding: 2rem;
  border-radius: 0.5rem;
  font-weight: bold;
  &:hover {
    border-color:var(--primary-color) !important;
    cursor: pointer;
    border-width: 2px;
  }
  

}

