.scroll-card {
  display: flex;
  position: relative;
  opacity: 1;

  @media screen and (max-width: 1200px) {
    justify-content: center !important;

    &__line-container {
      display: none;
    }

    &__description {
      width: 50% !important;
    }
  }

  &.line-right {
    justify-content: flex-end;
  }

  &.line-left {
    justify-content: flex-start;
  }

  &.line-left &__line-container {
    left: 100%;
  }

  &.line-right &__line-container {
    right: 100%;
  }

  &__line-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  &__description {
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    background: var(--light-brown);
    padding: 1rem;
    border-radius: 5px;
    font-size: 1.2rem;
    color: var(--dark-green);
    width: 250px;
    height: 150px;
    position: relative;
  }
}
