.socialButton {
  font-size: 32px;
}

.copyRight {
  white-space: pre-line;

  @media screen and (min-width: 991px) {
    white-space: initial;
  }
}

.centerSection {
  @media screen and (min-width: 1440px) {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
