.image {
  height: 300px;
}

.quizWithoutImage {
  width: 60%;
  min-height: 300px;

  @media screen and (max-width: 992px) {
    width: 100%;
  }
}

.quizWithImage {
  min-height: 300px;
  flex: 2 !important;

  @media screen and (max-width: 992px) {
    flex: 1 !important;
    width: 100%;
  }
}
