.cta-container {
  background-color: var(--light-brown);
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: bottom right;
  line-height: 1.25;
}

@media screen and (min-width: 768px) {
  .cta-container {
    background-position: right;
  }
}
