.mainSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.calculatorButton {
  background-color: transparent !important;
  color: var(--dark-green) !important;
  border: 1px solid var(--beige) !important;

  &:hover,
  &--highlighted {
    border-color: var(--dark-brown) !important;
  }
}

.calculatorButtonSection {
  max-height: 500px;
  overflow-y: auto;
}

.content {
  max-width: 1160px;
  margin: 0 auto;
}

.searchPanelOverlay {
  width: 400px;
  height: 400px;
  max-width: 85vw;
  max-height: 100vh;
}
