.tab-content {
  max-width: 90%;
  margin: 0 auto;
}

.divider {
  height: 100%;
  width: 20px;
  background-color: var(--light-green);
}

.sections {
  display: flex;
  justify-content: center;
  width: 100%;

  @media screen and (max-width: 991px) {
    display: flex !important;
    flex-direction: column;
  }

  &.multi {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.section {
  min-width: 440px;
  border-style: solid;
  border-color: var(--light-green);
  border-width: 0;
  height: calc(100vh - 472px);
  overflow-y: auto;

  overflow-x: hidden;
  padding-left: 180px;
  padding-right: 180px;

  &:first-of-type {
    padding-right: 180px;
  }

  &:last-of-type {
    padding-left: 180px;
  }

  &:not(:last-of-type) {
    border-right-width: 5px;
  }

  @media screen and (max-width: 991px) {
    height: auto;
    min-width: initial;

    &:not(:last-of-type) {
      border-right-width: 0;
      border-bottom-width: 5px;
      padding-bottom: 40px;
    }

    &:not(:first-of-type) {
      padding-top: 40px;
    }

    padding-left: 0;
    padding-right: 0;

    &:first-of-type {
      padding-right: 0;
    }

    &:last-of-type {
      padding-left: 0;
    }
  }
}
